.modal_container{
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 500px;
    border-radius: 20px;
    padding: 12px;
    overflow: auto;
}

.details_box{
    
}